<a href="https://colab.research.google.com/github/bavonodhiambo/Practice-/blob/main/General_exercise1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercis *1*: Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration add 3 to each number

In [ ]:



my_num= [1,2,3,4,5,6,7,8,9,10]



my_square= [my_num +3 for my_num  in range(1,11) ]


print(my_square)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Exercise 2 : Removing v from the string BAVON

In [ ]:
name= "BAVON"

Required= (name[:2]) + (name[3:]) 

print(Required)

BAON

Exercise 3 : Python for loging in a user into a system

In [ ]:
name= input("Enter your name")

password= input("Enter your pasword")


if name== "BAVON"and password== "okeyo":
    print ("Hello", name)   

elif name!= "BAVON":
    print("Dear account holder, check your name and try again") 

elif password !="okeyo":   
     print("Please Enter the correct password", name)

Enter your nameBAVON
Enter your paswordOKEYOP
Please Enter the correct password BAVON

Excerices 2.0. Write a code for checking results of students' results .

In [ ]:
#logging in to university portal

password= input("Enter your password")
 
if password=="bavon":
   print("Welcome to your portal, BAVON" ) 


elif password=="karis":
   print("Welcome to your portal , KARIUKI")

elif password== "otieno3":

     print ("Welcome to your portal, OTIENO")


elif  password=="timo":

     print ("Welcome to your portal, TIMOTHI")

elif  password== "Harri":

     print ("Welcome to your portal, HARRISON")


elif  password=="kaa":

     print ("Welcome to your portal, KARIUKI")

else: 

    print("Wrong password")

index= input("Kindly enter your index number")
name1= "Name: BAVON ODHIAMBO: KISWAHILI=10, ENGLISH=30, HISTORY= 90, PHYSICS=22,MATHS=22, BUSINESS STUDIES= 89, CHEMISTRY=44, GEOGRAPHY=90, CRE=100 : MEAN GRADE A, AGR 77   "
name2="Name: KARIUKI j. MWANGI: KISWAHILI=70, ENGLISH=30, HISTORY= 88, PHYSICS=82,MATHS=100, BUSINESS STUDIES= 92, CHEMISTRY=94, GEOGRAPHY=90 : MEAN GRADE A, AGR 79"

name3="Name: OTIENO JOSEPH.O: , KISWAHILI=90, ENGLISH=80, HISTORY= 98, PHYSICS=98,MATHS=83, BUSINESS STUDIES=91 , CHEMISTRY=74, GEOGRAPHY=98, CRE=80, BIOLOGY= 90 : MEAN GRADE A, AGR 81"  


name4= "Name: TIMOTHI. KIPRUI, KISWAHILI=100, ENGLISH=39, HISTORY= 91, PHYSICS=92,MATHS=92, CHEMISTRY=44, GEOGRAPHY=89, CRE=90 : MEAN GRADE A, AGR 70"

name5 ="Name: EMEKA J. RHUDHA, KISWAHILI=91, ENGLISH=83, HISTORY= 87, PHYSICS=89,MATHS=72, BUSINESS STUDIES= 91, CHEMISTRY=78, GEOGRAPHY=29, CRE=87 : MEAN GRADE A, AGR 71" 

name6 ="Name: HARISSON . P. OKITHE  KISWAHILI=100, ENGLISH=91, HISTORY= 99, PHYSICS=99,MATHS=40, BUSINESS STUDIES= 33, CHEMISTRY=88, GEOGRAPHY=90, CRE=100 : MEAN GRADE A, AGR 83"

name7= "Name: KARIUKI ODHIAMBO, KISWAHILI=19, ENGLISH=88, HISTORY=89, PHYSICS=22,MATHS=72, BUSINESS STUDIES= 88, CHEMISTRY=100, GEOGRAPHY=90: MEAN GRADE A, AGR 79 "
if index=="3023001":
   print(name1) 
elif index =="3023002":  
   print(name2)

elif index =="3023003":   
   print(name3)

elif index =="3023004":

    print(name4)

elif index =="3023005":   
    print(name5)

elif index =="3023006": 

     print(name6)


elif index =="3023007":

     print(name7) 
else:
     print("Invalid index number", password + "  try again")

Enter your passwordbavon
Welcome to your portal, BAVON
Kindly enter your index number23142
Invalid index number bavontry again

Python to calculate simple intrest

In [ ]:
principle= input ("Enter principle") 

rate = input ("enter rate, eg,, 0.03 ")

time= input ("Enter the time in years")

simple_intrest = int(principle)* float(rate)*int(time)

print("The simple intrest in this case is", simple_intrest)

total_amount =float(simple_intrest)+ int(principle)  

print("The total value to be paid is", total_amount)

The simple intrest in this case is 76.32000000000001
The total value to be paid is 2196.32

exercise3.2: Formular to calculate power produced in single phase AC

In [ ]:

import math

phase_voltage=input("Enter phase voltage")

phase_current= input("Enter phase current")

power= 3*int(phase_voltage)*int(phase_current)


print(power,"A")

Enter phase voltage22

In [ ]:
my_num= 34
his_num = 44

mul= my_num*his_num

print(mul)


my_list = [ "Bavon" , 
           
           "Frank" ,

           "Otieno" ,  

           "Dichol",

            "Opul",
           
             "Nyamache " ,

               [23,78,90]

]

print(my_list[:10] )

myy_list = del [2]

print(myy_list)

SyntaxError: ignored